<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         IgnorableNamespaces="uap mp rescap">
  
  <Identity
    Name="50366NateStevens.AudioChapterEditor"
    Publisher="CN=54EB45EA-F522-4723-8422-EB217E3E071F"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="bcd3f633-6f6c-4788-906d-cecd6ecd4b43" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Podcast Chapter Editor</DisplayName>
    <PublisherDisplayName>Nate Stevens</PublisherDisplayName>
    <Logo>Resources\bostonbeansound-png.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
		<Application Id="App"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				  DisplayName="Podcast Chapter Editor"
				  Description="A tool that enables easy and stylish editing of audio chapter files in Windows. Designed for podcasters."
				  BackgroundColor="transparent"
				  Square150x150Logo="Resources\bostonbeansound-png.png"
				  Square44x44Logo="Resources\bostonbeansound-png.png">
				<uap:DefaultTile>
				</uap:DefaultTile>
			</uap:VisualElements>
		</Application>

	</Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
